@using MovieProjectWithUmbraco.Models
@inherits UmbracoViewPage<UsersModel>

<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading movie-proj-panel-heading">
                <h4>Users</h4>
            </div>
            <table class="table table-responsive">
                <tbody>
                    @{
                        foreach (var user in Model.UsersInfo)
                        {
                            <tr>
                                <td class="vertical-align col-md-1 col-sm-2 col-xs-4">
                                    <img src="@user.AvatarPath" class="img-responsive" alt="Movie Poster">
                                </td>
                                <td class="vertical-align">
                                    <h4><a href="/users/userdetails?memberId=@user.Id">@string.Format("{0} {1}", user.FirstName, user.LastName)</a></h4>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
