@inherits UmbracoTemplatePage

<div>
    <div class="row">
        @{ Html.RenderAction("RenderFilmFilterPage", "FilmFilter"); }
        <div class="col-xs-12 col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading movie-proj-panel-heading">
                    <h4>Films</h4>
                </div>
                @{ Html.RenderAction("RenderFilms", "Films"); }
            </div>
        </div>
    </div>

    <div id="rating-model" class="modal fade" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-body">
                    <input id="input-id" type="text" class="rating" data-size="xs">
                </div>
                <div class="modal-footer">
                    <button data-dismiss="modal" onclick="MovieApp.Rating.rateMovie()" class="btn btn-warning pull-right">Rate</button>
                </div>
            </div>
        </div>
    </div>
</div>