@using MovieProjectWithUmbraco.Models
@inherits UmbracoViewPage<NewsItem>

<div class="row">
    <div class="col-xs-12">
        <div class="blog-inner">
            <a href="#"><img class="img-responsive center-image" src="@Model.ImagePath" alt="@Model.Title"></a>
            <div class="desc">
                <h3><a href="#">@Model.Title</a></h3>
                <p>@Html.Raw(Model.NewsContent)</p>
            </div>
        </div>
    </div>
</div>