@inherits UmbracoViewPage<IEnumerable<MovieProjectWithUmbraco.Models.Feedback>>

@if (Model != null && Model.Count() > 0)
{
    <div class="existing-feedbacks">
        @foreach (var comment in Model)
        {
            <div class="row">
                <div class="col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-heading movie-proj-panel-heading comment-header">
                            <h6>@comment.Publisher</h6>
                        </div>
                        <div class="panel-body comment-content">
                            <p>@comment.Content</p>
                        </div>
                        <div class="panel-footer">
                            <div class="text-right">
                                <span>@comment.DateOfPublication.ToLongDateString()</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
}

