body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.wrapper {
    margin-top: 30px;
    margin-bottom: 50px;
    background-image: url("/Images/Background/b28.png");
    padding: 10px;
    border-radius: 5px;
    border: 1px solid silver;
}

.vertical-align {
    vertical-align: middle !important;
}

.middle-align {
    vertical-align: middle !important;
    text-align: center !important;
}

.rating .glyphicon {
    font-size: 1.5em;
}

.total-rating .glyphicon {
    color: orange;
    font-size: 2em;
}

a {
    cursor: pointer;
}

.rate-btn span {
    color: orange;
}

.rate-btn:hover {
    background-color: orange !important;
}

.rate-btn:hover span {
    color: white;
}

.participants-ul {
    padding: 0px;
}

.participants-ul li {
    list-style-type: none;
}

.poster-heading {
    height: 450px !important;
    background-position: center;
    background-image: url('/images/posters/fb-and-wft.jpg') !important;
}

.navbar {
    background-color: black;
    border-bottom: none;
    opacity: 0.80;
}

.navbar-fixed-bottom {
    background-color: #323232 !important;
    border-top: gray solid 1px !important;
    opacity: 1;
}

.navbar-nav li {
    border-bottom: transparent 4px solid;
}

.navbar-nav li:hover {
    border-bottom: orangered 4px solid;
}

li.login-item:hover {
    border-bottom: transparent 4px solid;
}

.user-greetings-item:hover {
    border-bottom: transparent 4px solid !important;
}

.user-greetings-item .user-name {
    color: gray;
    display: inline-block;
    padding: 15px;
}

.navbar-nav li:hover a, .navbar-nav li:hover button {
    color: orangered !important;
}

.navbar-nav button {
    margin-top: 8px;
    margin-bottom: 8px;
}

.navbar-nav a, .navbar-nav button {
    color: gray !important;
    background-color: transparent;
    height: 60px !important;
    display: flex !important;
}

.navbar-nav a:active, a:focus, .navbar-nav button:active, .navbar-nav button:focus {
    outline: 0 !important;
}

.navbar-header a, .navbar-header a:hover {
    color: orangered !important;
    display: flex !important;
}

.navbar-toggle {
    border: none;
}

.navbar-toggle:hover, .navbar-toggle:active, .navbar-toggle:focus {
    border: none !important;
    background-color: transparent !important;
}

.navbar-toggle:hover .icon-bar, .navbar-toggle:active .icon-bar, .navbar-toggle:focus .icon-bar {
    background-color: orangered !important;
}

.icon-bar {
    background-color: gray !important;
}

.block-user-btn {
    background-color: transparent;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border: 1px solid transparent;
}

.block-user-btn:hover {
    background-color: rgb(210, 210, 210);
    border-radius: 5px;
    border: 1px solid gray;
}

.block-user-btn:active {
    background-color: rgb(180, 180, 180);
    border-radius: 5px;
    border: none;
}

.quote {
    margin: 0;
    background: linear-gradient(-45deg, #31C3E7, #21BEDE, #00FA9A);
    margin-bottom: 20px;
}

.quote blockquote {
    border-left: none;
}

.about {
    margin: 0;
    border-bottom: 1px solid gray;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
}

.quote-image {
    margin-right: 15px;
    margin-left: 15px;
    float: left;
}

.quote-content {
    min-height: 250px; 
    display: flex;
}

.quote-content div {
    margin-bottom: auto; 
    margin-top: auto;
}

.about-header {
    border-bottom: 2px solid gray;
}

.field-validation-error { 
    color: #a94442;
}

.input-validation-error { 
    border: 2px solid #a94442; 
}
        
.field-validation-valid {
    display: none;
}

#fh5co-blog-section {
  padding-bottom: 6em;
}
@media screen and (max-width: 768px) {
  #fh5co-blog-section {
    padding: 3em 0;
  }
}

#fh5co-blog-section {
  padding-top: 6em;
}

.fh5co-heading {
  margin-bottom: 3em;
}
.fh5co-heading h2 {
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 34px;
}

.blog-inner {
  background: white;
  -webkit-box-shadow: 0px 9px 29px -9px rgba(0, 0, 0, 0.13);
  -moz-box-shadow: 0px 9px 29px -9px rgba(0, 0, 0, 0.13);
  -ms-box-shadow: 0px 9px 29px -9px rgba(0, 0, 0, 0.13);
  -o-box-shadow: 0px 9px 29px -9px rgba(0, 0, 0, 0.13);
  box-shadow: 0px 9px 29px -9px rgba(0, 0, 0, 0.13);
  overflow: hidden;
  margin-bottom: 40px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.blog-inner img {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}

.blog-inner .desc {
  padding: 20px;
}

.blog-inner .desc h3 {
  line-height: 28px;
}

.blog-inner .desc h3 a {
  color: rgba(0, 0, 0, 0.8);
}

.blog-inner .desc h3 a:hover, .blog-inner .desc h3 a:focus {
  text-decoration: none;
}

.blog-inner:hover {
  -webkit-box-shadow: 0px 9px 43px -10px rgba(0, 0, 0, 0.17);
  -moz-box-shadow: 0px 9px 43px -10px rgba(0, 0, 0, 0.17);
  -ms-box-shadow: 0px 9px 43px -10px rgba(0, 0, 0, 0.17);
  -o-box-shadow: 0px 9px 43px -10px rgba(0, 0, 0, 0.17);
  box-shadow: 0px 9px 43px -10px rgba(0, 0, 0, 0.17);
}

.fh5co-grey-bg-section {
  background: rgba(45, 64, 89, 0.06);
}

.btn-primary.btn-outline {
  background: transparent;
  color: #1FB57B;
  border: 2px solid #1FB57B;
  margin-bottom: 10px;
}
.btn-primary.btn-outline:hover, .btn-primary.btn-outline:focus, .btn-primary.btn-outline:active {
  background: #1FB57B;
  color: #fff;
}

.existing-feedbacks {
    margin-top: 20px;
}

.login-register-input {
    padding: 10px;
    border: 2px solid gray;
    border-radius: 5px;
    width: 100%;
}

.login-register-input:hover, .login-register-input:focus, .login-register-input:active {
    border-color: forestgreen;
}

@media screen and (max-width: 767px) {
    .recent-info-section {
        display: none;
    }
}

.image-content {
    padding: 5px;
    position: relative;
}

.movie-image {
    margin-left: auto;
    margin-right: auto;
}

.distributor-image {
    margin-left: auto;
    margin-right: auto;
}

.feedback-btn {
    margin-top: 10px;
}

.search-item p.link-to-document {
    color: forestgreen; 
    font-weight: bold; 
    text-decoration: none;
}

.movie-proj-panel-heading {
    background-color: black !important; 
    opacity: 0.75 !important;
}

.movie-proj-panel-heading > h4,
.movie-proj-panel-heading > h6  {
    color: gray;
}

.full-width-btn {
    width: 100%;
}

.movie-item-vertical-align {
    margin-top: auto; 
    margin-bottom: auto;
}

.rating-item {
    display: inline-block; 
    vertical-align: middle;
    color: orange;
}

.carousel-caption-colored {
    color: #fff !important; 
    text-decoration: none !important;
}

@media screen and (max-width: 500px) {
    .carousel-caption-colored {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .carousel-caption-colored {
        font-size: 0.7em !important;
    }
}

@media screen and (max-width: 1200px) {
    .carousel-caption-colored {
        font-size: 0.6em;
    }
}

.vertical-indent {
    margin-top: 20px;
}

footer {
    color: gray; 
    padding-top: 5px;
}

.comment-header {
    padding-bottom: 3px;
    padding-top: 3px;
}

.comment-content {
    font-size: 1.2em;
    color: gray;
}

.center-image {
    margin-left: auto; 
    margin-right: auto;
}

.info-section-item {
    margin-bottom: 0;
}

.info-section-item .desc {
    padding-bottom: 5px;
}

.btn-search {
    background-color: #323232;
    color: gray;
}

.soundtracks-panel-heading {
    background: linear-gradient(-45deg, #31C3E7, #21BEDE, #00FA9A);
}

.soundtracks-panel-heading .row {
    display: flex;
}

.soundtracks-title-container {
    display: flex;
}

.soundtracks-title-container h3 {
    margin-bottom: auto; 
    margin-top: auto;
}

.soundtracks-img {
    box-shadow: 4px 4px 6px #323232;
}

.soundtracks-container {
    padding-bottom: 0;
}

.btn-edit-field {
    padding-top: 1px;
    padding-bottom: 1px;
}

.thumbnail {
    position: relative;
    width: 250px;
    height: 250px;
    overflow: hidden;
}
.thumbnail img {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100%;
    width: auto;
    -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
}
.thumbnail img.portrait {
    width: 100%;
    height: auto;
}

.user-sm-img-container {
    display: inline-block; 
    margin-left: 3px;
    margin-right: 3px;
    margin-top: auto;
    margin-bottom: auto;
}

.user-text-container {
    margin-left: 3px;
    margin-right: 3px;
    margin-top: auto;
    margin-bottom: auto;
}

.edit-profile-btn {
    margin-bottom: 0 !important;
}

.profile-avatar-container .panel-heading, .profile-avatar-container .panel-body {
    padding: 5px;
}

.profile-avatar-container .panel-heading img {
    border-radius: 3px;
}

.profile-avatar-container .profile-user-name {
    margin-bottom: 0px;
}

.navbar-fixed-top .navbar-collapse,
.navbar-fixed-bottom .navbar-collapse {
    max-height: 440px !important;
}

.user-comment-heading {
    padding: 5px;
}

.filter-heading {
    padding: 5px;
}

.filter-heading h5 {
    margin: 5px;
}

.user-comment-heading .panel-default {
    margin-bottom: 0;
}

.user-comment-heading .panel-body {
    padding: 5px;
}

.user-comment-heading .panel-body:hover, 
.user-comment-heading .panel-body:active, 
.user-comment-heading .panel-body:focus {
    background-color: #1FB57B;
    color: white;
}

.user-comment-heading .panel-body:hover a {
    text-decoration: none;
    color: white;
}

.filter-label {
    font-weight: normal;
}