@using MovieProjectWithUmbraco.Models;
@inherits UmbracoViewPage<SearchResponse>
@{
    var rootNodes = Umbraco.TypedContentAtRoot();
    var homeNode = rootNodes.First(x => x.DocumentTypeAlias == "home");

    var searchPageUrl = homeNode.Descendant("search").Url;
}

<form action="@(searchPageUrl)" method="get" autocomplete="off">
    <div class="form-group">
        <div class="input-group" id="search-input-group">
            @Html.TextBoxFor(m => m.Query, htmlAttributes: new { @class = "form-control", placeholder = "Site search...", id = "search-query" })
            <div class="input-group-btn">
                <button class="btn btn-default btn-search"><i class="glyphicon glyphicon-search"></i></button>
            </div>
        </div>
        <div class="panel panel-default" id="search-results-container">
            <table class="table responsive-table" id="search-results"></table>
        </div>
    </div>
</form>
